*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}

form{
    height: 650px;
    width: 700px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0px 10px 15px 1px #00000040;
    padding: 50px 35px;
    position: relative;

}
form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    border-radius: 20px;
    background: #F8F8F8;
    width: 340px;
    padding: 5%;
    margin-left: 25%;
    margin-bottom: 5%;

}
label{
    display: block;
    color: #545454;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}
input#username ,input#password{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.checkbox{
  color: #333;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

::placeholder{
    color: #e5e5e5;
}
button.login { 
    margin-top: 50px;
    position: relative;
    left: 20%;
    width: 25%;
    background-color: #ffb27d;
    color: #ffffff;
    padding: 15px 0;
    font-size: 22px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}
button.register { 
  margin-top: 50px;
  
  position: relative;
  left: 25%;
  width: 25%;
  background-color: #ffb27d;
  color: #ffffff;
  padding: 15px 0;
  font-size: 22px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}
header img {
    height: 80px;
    margin-left: 40px;
}


header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0 black;
    font-family: poppins;
}

header * {
    display: inline;
    margin: auto;
    font-family: Poppins;
    font-size: 18px;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

header li a:hover {
    color: grey;
    text-decoration: none;
}
header li a.active {
    font-weight: 600;
}
